<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cirrus Components &mdash; Cirrus  documentation</title>
      <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
      <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
        <script data-url_root="../" id="documentation_options" src="../_static/documentation_options.js"></script>
        <script src="../_static/jquery.js"></script>
        <script src="../_static/underscore.js"></script>
        <script src="../_static/doctools.js"></script>
        <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
        <script>mermaid.initialize({startOnLoad:true});</script>
    <script src="../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Cloudformation Support" href="../cloudformation.html" />
    <link rel="prev" title="Basic Operation" href="../operation.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
            <a href="../index.html" class="icon icon-home"> Cirrus
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption" role="heading"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../intro.html">Getting started with Cirrus</a></li>
<li class="toctree-l1"><a class="reference internal" href="../arch.html">Cirrus architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../payload.html">Cirrus Process Payload</a></li>
<li class="toctree-l1"><a class="reference internal" href="../config-deploy.html">Configuration and Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../operation.html">Basic Operation</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Cirrus Components</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#feeders">Feeders</a></li>
<li class="toctree-l2"><a class="reference internal" href="#tasks">Tasks</a></li>
<li class="toctree-l2"><a class="reference internal" href="#workflows">Workflows</a></li>
<li class="toctree-l2"><a class="reference internal" href="#functions">Functions</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../cloudformation.html">Cloudformation Support</a></li>
<li class="toctree-l1"><a class="reference internal" href="../statedb.html">State Database</a></li>
<li class="toctree-l1"><a class="reference internal" href="../monitoring.html">Pipeline Monitoring</a></li>
<li class="toctree-l1"><a class="reference internal" href="../examples/index.html">Cirrus Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../best-practices.html">Cirrus best practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../roadmap.html">Roadmap</a></li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Cirrus</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
      <li>Cirrus Components</li>
      <li class="wy-breadcrumbs-aside">
            <a href="../_sources/components/index.rst.txt" rel="nofollow"> View page source</a>
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <div class="section" id="cirrus-components">
<h1>Cirrus Components<a class="headerlink" href="#cirrus-components" title="Permalink to this headline"></a></h1>
<p>Cirrus features several component types, which each represent a specific role
within the Cirrus architecture.</p>
<p>A single component is made up of a collection of files, minimally a
<code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> file containing the component configuration, and a
<code class="docutils literal notranslate"><span class="pre">README.md</span></code> file outlining the component usage and any other necessary
documentation for the component. Additional required files vary per component
type. All the files for a given component are stored in a single directory named for the component instance:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="n">component_name</span><span class="o">&gt;/</span>
    <span class="n">definition</span><span class="o">.</span><span class="n">yml</span>
    <span class="n">README</span><span class="o">.</span><span class="n">md</span>
    <span class="o">...</span>
</pre></div>
</div>
<p>Within a Cirrus project directory, components are organized in subdirectories
named for their respective component types, like so:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="n">project_dir</span><span class="o">&gt;/</span>
    <span class="n">feeders</span><span class="o">/</span>
        <span class="n">feeder1</span><span class="o">/</span>
        <span class="n">feeder2</span><span class="o">/</span>
    <span class="n">functions</span><span class="o">/</span>
    <span class="n">tasks</span><span class="o">/</span>
        <span class="n">atask</span><span class="o">/</span>
    <span class="n">workflows</span><span class="o">/</span>
        <span class="n">aworkflow</span><span class="o">/</span>
</pre></div>
</div>
<p>Each component types has in-depth documentation detailing any supported files
and the <code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> format. Some components share a common set of
required files and configuration format, such as all <a class="reference internal" href="lambdas.html"><span class="doc">Lambda-based
components</span></a>.</p>
<div class="section" id="feeders">
<h2>Feeders<a class="headerlink" href="#feeders" title="Permalink to this headline"></a></h2>
<p>Conceptually, a feeder is anything that generates a <a class="reference internal" href="../payload.html"><span class="doc">Cirrus Process
Payload</span></a> and queues it for processing. In practice this could be
anything from a user hand-rolling JSON and pasting it into the AWS console, to
an automated process that turns external events into process payloads and
publishes them to the Cirrus process topic.</p>
<p>Within a Cirrus project instance, however, the term <code class="docutils literal notranslate"><span class="pre">feeder</span></code> refers
specifically to an AWS Lambda function that takes arbitrary input in, generates
one or more Cirrus Process Payloads, and publishes them to the Cirrus process
SNS topic.</p>
<p>As a component with a Lambda base, the <a class="reference internal" href="lambdas.html"><span class="doc">Lambda-based components</span></a>
documentation contains relevant information for this and other Lambda
components.</p>
<p>See the <a class="reference internal" href="feeders.html"><span class="doc">feeders documentation</span></a> for more details specific to
feeders.</p>
</div>
<div class="section" id="tasks">
<h2>Tasks<a class="headerlink" href="#tasks" title="Permalink to this headline"></a></h2>
<p>Tasks represent the basic building block of Cirrus processing. Implemented as
AWS Lambda functions and/or AWS batch job definitions, tasks use a Cirrus
Process Payload for both input and output, and are intended to be composed into
a Cirrus workflow.</p>
<p>In other other words, to implement custom processing routines for a pipeline,
use a task. The best tasks are modular, simple, focused, and composable. Most
projects end up with more custom tasks than other component types, so it pays
to be familiar with the tasks ins and outs.</p>
<p>For tasks supporting Lambda executions, the <a class="reference internal" href="lambdas.html"><span class="doc">Lambda-based components</span></a> documentation contains relevant information for this and other
Lambda components.</p>
<p>See the <a class="reference internal" href="tasks.html"><span class="doc">tasks documentation</span></a> for in-depth usage information.</p>
</div>
<div class="section" id="workflows">
<h2>Workflows<a class="headerlink" href="#workflows" title="Permalink to this headline"></a></h2>
<p>Cirrus workflows are the component that puts the “pipe” in “pipeline”.
Workflows model a transformation of an input item or set of input items with a
process definition into one or more output items via processing from one or
more tasks.</p>
<p>Cirrus also provides several mechanisms for modeling workflow dependencies.</p>
<p>The <a class="reference internal" href="../statedb.html"><span class="doc">state database</span></a> tracks the state of items processed at
the workflow level.</p>
<p>Refer to the <a class="reference internal" href="workflows/index.html"><span class="doc">workflows documentation</span></a> to find more detailed
information regarding workflows.</p>
</div>
<div class="section" id="functions">
<h2>Functions<a class="headerlink" href="#functions" title="Permalink to this headline"></a></h2>
<p>The <code class="docutils literal notranslate"><span class="pre">function</span></code> component type is mainly used by the Cirrus built-ins required
to implement the core Cirrus functionality. Examples include the <code class="docutils literal notranslate"><span class="pre">process</span></code>
lambda function, which processes all incoming Cirrus Process Payloads and
dispatches them to their specified workflows, or the <code class="docutils literal notranslate"><span class="pre">update-state</span></code> lambda
function that updates the <a class="reference internal" href="../statedb.html"><span class="doc">state database</span></a> on workflow
completion events.</p>
<p>In typical use, most Cirrus projects will not require any additional
function-type components. However, they can be occasionally be useful for
lambda utility functions required to manage a given deployment.</p>
<p>As a component with a Lambda base, the <a class="reference internal" href="lambdas.html"><span class="doc">Lambda-based components</span></a>
documentation contains relevant information for this and other Lambda
components.</p>
<p>Further details regarding functions are available in the <a class="reference internal" href="functions.html"><span class="doc">functions
documentation</span></a>.</p>
</div>
</div>


           </div>
          </div>
          <footer><div class="rst-footer-buttons" role="navigation" aria-label="Footer">
        <a href="../operation.html" class="btn btn-neutral float-left" title="Basic Operation" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
        <a href="../cloudformation.html" class="btn btn-neutral float-right" title="Cloudformation Support" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2022, Element 84.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>