<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tasks &mdash; Cirrus  documentation</title>
      <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
      <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
        <script data-url_root="../" id="documentation_options" src="../_static/documentation_options.js"></script>
        <script src="../_static/jquery.js"></script>
        <script src="../_static/underscore.js"></script>
        <script src="../_static/doctools.js"></script>
        <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
        <script>mermaid.initialize({startOnLoad:true});</script>
    <script src="../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
            <a href="../index.html" class="icon icon-home"> Cirrus
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption" role="heading"><span class="caption-text">Contents:</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">Getting started with Cirrus</a></li>
<li class="toctree-l1"><a class="reference internal" href="../arch.html">Cirrus architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../payload.html">Cirrus Process Payload</a></li>
<li class="toctree-l1"><a class="reference internal" href="../config-deploy.html">Configuration and Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../operation.html">Basic Operation</a></li>
<li class="toctree-l1"><a class="reference internal" href="index.html">Cirrus Components</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cloudformation.html">Cloudformation Support</a></li>
<li class="toctree-l1"><a class="reference internal" href="../statedb.html">State Database</a></li>
<li class="toctree-l1"><a class="reference internal" href="../monitoring.html">Pipeline Monitoring</a></li>
<li class="toctree-l1"><a class="reference internal" href="../examples/index.html">Cirrus Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../best-practices.html">Cirrus best practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../roadmap.html">Roadmap</a></li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Cirrus</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
      <li>Tasks</li>
      <li class="wy-breadcrumbs-aside">
            <a href="../_sources/components/tasks.rst.txt" rel="nofollow"> View page source</a>
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <div class="section" id="tasks">
<h1>Tasks<a class="headerlink" href="#tasks" title="Permalink to this headline"></a></h1>
<div class="section" id="anatomy-of-a-task">
<h2>Anatomy of a task<a class="headerlink" href="#anatomy-of-a-task" title="Permalink to this headline"></a></h2>
<p>Tasks in Cirrus implement a unit of processing, to be composed together into a
<a class="reference internal" href="workflows/index.html"><span class="doc">Workflow</span></a>. Tasks are expected to support both input and
output formatted as a <a class="reference internal" href="../payload.html"><span class="doc">Cirrus Process Payload</span></a>. As part of its
processing, a task can make any requisite modifications to its input payload
and/or derive any output assets, pushing them to the canonical storage location
in S3.</p>
<p>Tasks can make use of AWS Lambda and/or AWS Batch for execution. Lambda tasks
are simpler to manage and quicker to start up, but the Lambda runtime
constraints can be prohibitive or untenable for some task workloads. In those
cases, Batch allows for extended runtimes, greater resource limits, and
specialized instance types.</p>
<p>In a Cirrus project, tasks are stored inside the <code class="docutils literal notranslate"><span class="pre">tasks/</span></code> directory, each in a
subdirectory named for the task. Each task requires a <code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> file with
the task’s configuration, and a <code class="docutils literal notranslate"><span class="pre">README.md</span></code> file documenting the task’s usage.</p>
<div class="section" id="lambda-only-tasks">
<h3>Lambda-only tasks<a class="headerlink" href="#lambda-only-tasks" title="Permalink to this headline"></a></h3>
<p>Lambda-only tasks follow the specifications outlined in the <a class="reference internal" href="lambdas.html"><span class="doc">Lambda-based
components</span></a> documentation. Refer there for specifics on what files
are requried for Lambda tasks and how to structure the <code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> file.</p>
</div>
<div class="section" id="batch-only-tasks">
<h3>Batch-only tasks<a class="headerlink" href="#batch-only-tasks" title="Permalink to this headline"></a></h3>
<p>Tasks that support only Batch operation need only a <code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> file and
<code class="docutils literal notranslate"><span class="pre">README.md</span></code> file. Batch-only tasks include CloudFormation resource
declarations in the <code class="docutils literal notranslate"><span class="pre">definition.yml</span></code> file for all resources required for the
Batch execution environment.</p>
<p>At minimum, a Batch job definition resource is required, which should specify a
link to an ECR image managed/built via an external source. Often Batch tasks
include dedicated compute environment and job queue resources. Other common
resources such as launch templates, IAM roles and profiles, and ECR
repositories can be found in Batch task definitions.</p>
<p>That said, it is sometimes advantageous to share resources between multiple
Batch tasks, in which case these resources can also be declared within the
project’s <code class="docutils literal notranslate"><span class="pre">cloudformation/</span></code> directory, unattached to any specific task
instance. When in doubt, however, defer to declaring unique resources per Batch
task rather than sharing, even at the expense of duplication. Duplicating
resources in this way is often easier to manage and allows more-specific
configurations.</p>
<div class="section" id="environment-variables">
<h4>Environment variables<a class="headerlink" href="#environment-variables" title="Permalink to this headline"></a></h4>
<p>Batch job definition resources support defining a list of environment variable
names and values, similar to Lambda functions, though with a slightly different
format. Like Lambda tasks, Batch tasks job definitions support the task
definition’s top-level <code class="docutils literal notranslate"><span class="pre">environment</span></code> specification, which they inherit, along
with any environment variable defined globally in the <code class="docutils literal notranslate"><span class="pre">cirrus.yml</span></code> file under
the <code class="docutils literal notranslate"><span class="pre">provider.environment</span></code> key, with preference to any duplicate varaibles
defined on the Batch job defintion.</p>
<p>Additionally, <code class="docutils literal notranslate"><span class="pre">AWS_REGION</span></code> and <code class="docutils literal notranslate"><span class="pre">AWS_DEFAULT_REGION</span></code> are added to the job
defintion’s environment variables with the value derived from the stack’s
deployment region.</p>
</div>
<div class="section" id="iam-permissions">
<h4>IAM permissions<a class="headerlink" href="#iam-permissions" title="Permalink to this headline"></a></h4>
<p>Batch permissions are specified via an instance IAM role assigned in
the compute environment. Best practice suggests that a unique role should be
used per Batch task, as is the case for Lambda tasks.</p>
</div>
</div>
</div>
<div class="section" id="lambda-vs-batch">
<h2>Lambda vs Batch<a class="headerlink" href="#lambda-vs-batch" title="Permalink to this headline"></a></h2>
<div class="section" id="when-to-chose-lambda">
<h3>When to chose Lambda<a class="headerlink" href="#when-to-chose-lambda" title="Permalink to this headline"></a></h3>
<ul class="simple">
<li><p>small code size/not many dependencies</p></li>
<li><p>single-threaded</p></li>
<li><p>short runtime (no more than 15 minutes max)</p></li>
<li><p>need code to live in the cirrus project repo</p></li>
</ul>
</div>
<div class="section" id="when-to-chose-batch">
<h3>When to chose Batch<a class="headerlink" href="#when-to-chose-batch" title="Permalink to this headline"></a></h3>
<ul class="simple">
<li><p>long runtimes</p></li>
<li><p>large package size/non-native dependecies</p></li>
<li><p>can use multiple CPUs</p></li>
<li><p>easier to manage code as separate container images</p></li>
<li><p>need significant RAM</p></li>
<li><p>need more than 10GB disk</p></li>
<li><p>need special hardware resources (e.g., GPU)</p></li>
</ul>
</div>
<div class="section" id="or-maybe-both">
<h3>Or maybe both?<a class="headerlink" href="#or-maybe-both" title="Permalink to this headline"></a></h3>
<p>Sometimes both Lambda and Batch can fit the task requirements, depending on
input. Other times, avoiding the overhead of managing/deploying a Batch
container image makes Lambda attractive, but runtime constraints like max
execution time mean that only Batch is viable.</p>
<p>In each of these cases, one can specify a task as <em>both</em> Lambda and Batch,
using the Cirrus Batch Lambda runner container to run the packaged Lambda code.
Doing this allows the user to choose which execution mechanism is most
appropriate in a given context. This could be parameterized in a workflow based
on the input (like a <code class="docutils literal notranslate"><span class="pre">batch</span></code> flag in the task parameters), or on logic in an
separate input inspection Lambda. Some workflows could always run the Lambda
version of a task, and others the batch version. Or maybe the Batch version is
the only ever actually used, taking advantage of the Lambda packaging support
solely to make it easier to keep task code inside the Cirrus project.</p>
<div class="section" id="using-the-batch-lambda-runner">
<h4>Using the Batch Lambda runner<a class="headerlink" href="#using-the-batch-lambda-runner" title="Permalink to this headline"></a></h4>
<p>See the <a class="reference external" href="https://github.com/cirrus-geo/cirrus-task-images">cirrus-task-image</a> repo for more information.</p>
</div>
</div>
</div>
<div class="section" id="creating-a-new-task">
<h2>Creating a new task<a class="headerlink" href="#creating-a-new-task" title="Permalink to this headline"></a></h2>
<div class="section" id="lambda-only">
<h3>Lambda-only<a class="headerlink" href="#lambda-only" title="Permalink to this headline"></a></h3>
</div>
<div class="section" id="batch-only">
<h3>Batch-only<a class="headerlink" href="#batch-only" title="Permalink to this headline"></a></h3>
</div>
<div class="section" id="lambda-and-batch">
<h3>Lambda and Batch<a class="headerlink" href="#lambda-and-batch" title="Permalink to this headline"></a></h3>
</div>
<div class="section" id="compute-environments">
<h3>Compute Environments<a class="headerlink" href="#compute-environments" title="Permalink to this headline"></a></h3>
<div class="section" id="using-the-aws-spot-market">
<h4>Using the AWS spot market<a class="headerlink" href="#using-the-aws-spot-market" title="Permalink to this headline"></a></h4>
</div>
</div>
</div>
<div class="section" id="task-parameters">
<h2>Task parameters<a class="headerlink" href="#task-parameters" title="Permalink to this headline"></a></h2>
</div>
<div class="section" id="running-tasks-locally">
<h2>Running tasks locally<a class="headerlink" href="#running-tasks-locally" title="Permalink to this headline"></a></h2>
</div>
</div>


           </div>
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2022, Element 84.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>